body {
    margin: 0 230px;
    background-color: #000;
    font-family: 'Lato';
}

.wrapper   {
    background-color: #fff;
}
/* Welcome styling */
.top-container {
    margin: 0px;
}

.showcase {
    background-image: url(../assets/backgrounds/h_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 800px;
    text-align: center;
}

.showcase img {
    padding-top: 250px;
    padding-bottom: 20px;
}

.showcase h1 {
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 10px;
    font-size:50px;
}

.showcase p {
    text-transform: uppercase;
    color: #fff;
    font-size: 22px;
}

/* About Us styling */
.about-container {
    text-align: center;
    padding: 50px 100px 55px 100px;
}

.about-container h1 {
    text-transform: uppercase;
}

.about-container p {
    padding-top: 10px;
    line-height: 1.5em;
    text-align: justify;
    font-size: 20px;
}

/* Services styling */
.services {
    background-image: url(../assets/backgrounds/s_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 420px;
    text-align: center;
    padding: 80px 100px 55px 100px;
}

.services h1 {
    font-size:50px;
    color: #fff;
}

.services p {
    font-size:22px;
    color: #fff;
    line-height: 1.5em;
    text-align: justify;
}

/* Boxes */

.boxes {
    padding: 30px 100px 55px 100px;
    display: grid;
    grid-gap:20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    height:200px;
}

.boxes-header h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 50px 0 5px 0px;
}
.boxes h5 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: small;
}

.box {
    text-align: center;
    padding: 1.5rem 2 rem;
}

.box p {
    display: none;
    text-align: justify;
}

/* Portforlio styling */
.portfolio {
    padding: 0px 200px 55px 200px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-header h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.portfolio-img-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
  }
  
  .img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
  }
  
  .img-lighter {
    transition: 1s;
    filter: brightness(45%);
  }
  
  .img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: #fff;
  }

/* Contact styling */
.contact {
    background-image: url(../assets/backgrounds/c_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 50px;
}

.contact h1 {
    text-align: center;
    color:#fff;
    padding-bottom: 10px;
}

.formcontainer {
    width:400px;
    height:500px;
    box-sizing: border-box;
    margin: 0 auto;
    border-radius: 5px;
    /* box-shadow: 0px 5px 10px rgba(0,0,0,.2); */
}

.formcontainer input {
    width: 100%;
    margin-bottom: 20px;
}

.formcontainer input[type="text"], input[type="email"], textarea
{
    border:none;
    border: 2px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.formcontainer textarea {
    width:100%;
    min-height: 200px;
    max-height: 200px;
}

.formcontainer #error-message {
    margin-bottom: 20px;
    padding: 0px;
    background: #fe8b8e;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
  }
  

::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:  #fff;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: #fff;
  }

.formcontainer input[type="submit"]
{
    border: none;
    outline: none;
    height: 43px;
    background: dodgerblue;
    font-size: 18px;
    border-radius: 5px;
    color:#fff;
    text-transform: capitalize;
}

.formcontainer input[type="submit"]:hover
{
    cursor:pointer;
    background: #61b1ff;
    color: #fff;
}

.btnsubmit {
    width: 100%;
    border: none;
    outline: none;
    height: 43px;
    background: dodgerblue;
    font-size: 18px;
    border-radius: 5px;
    color:#fff;
    text-transform: capitalize;
}

.btnsubmit:hover {
    cursor:pointer;
    background: #61b1ff;
    color: #fff;
}

.error_form {
	top: 12px;
	color: rgb(216, 15, 15);
    font-size: 15px;
    font-family: Helvetica;
}

/* Footer Styling */
.footer {
    background: #fff;
    margin-top: 3rem;
}

.mediarow {
   margin: 0 200px 0 300px;
}

.mediarow img {
    position: relative;
    margin:0px 5px 0px 0px;
    padding: 5px 10px 0px 10px;
}

.copy {
    margin-top: 2rem;
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
}

/* Toggle class */
.active {
    border: 2px solid black;
    text-align: center;
    background-color: red;
}

.active h5 {
    font-weight: bold;
}

/* Modal Popup */
.popup {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* z-index: 1000; */
}

.modal-content {
    position: relative;
    width: 500px;
    height: 300px;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius:5px;
}

.modal-content p {
    margin: 100px auto;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}