body {
    margin: 0 230px;
    background-color: #000;
}

.wrapper   {
    background-color: #fff;
}
/* Welcome styling */
.top-container {
    margin: 0px;
    /* background-image: url(../assets/backgrounds/h_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    /* height: 1071px; */
}

.showcase {
    background-image: url(../assets/backgrounds/h_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 800px;
    text-align: center;
}

.showcase img {
    padding-top: 250px;
    padding-bottom: 20px;
}

.showcase h1 {
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 10px;
    font-size:50px;
}

.showcase p {
    text-transform: uppercase;
    color: #fff;
    font-size: 22px;
}

/* About Us styling */
.about-container {
    text-align: center;
    padding: 50px 100px 55px 100px;
}

.about-container h1 {
    text-transform: uppercase;
}

.about-container p {
    padding-top: 10px;
    line-height: 1.5em;
    text-align: justify;
    font-size: 20px;
}

/* Services styling */
.services {
    background-image: url(../assets/backgrounds/s_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 420px;
    text-align: center;
    padding: 80px 100px 55px 100px;
}

.services h1 {
    font-size:50px;
    color: #fff;
}

.services p {
    font-size:22px;
    color: #fff;
    line-height: 1.5em;
    text-align: justify;
}

/* Boxes */

.boxes {
    padding: 80px 100px 55px 100px;
    display: grid;
    grid-gap:20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.boxes h5 {
    text-transform: uppercase;
    font-size: medium;
}

.box {
    text-align: center;
    padding: 1.5rem 2 rem;
}


/* Portforlio styling */
.portfolio {
    padding: 80px 200px 55px 200px;
    /* display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
    text-align: center; */
}

.portfolio h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 15px;
}


.portfolio img {
    width: 250px;
    padding: 0 20px 35px 0;
    /* box-shadow: var(--shadow); */ */
}

/* Contact styling */
.contact {
    background-image: url(../assets/backgrounds/c_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 50px;
}

.contact h1 {
    text-align: center;
    color:#fff;
    padding-bottom: 10px;
}

.formcontainer {
    width:400px;
    height:500px;
    box-sizing: border-box;
    margin-left: 550px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0,0,0,.2);
}

.formcontainer input {
    width: 100%;
    margin-bottom: 20px;
}

.formcontainer input[type="text"], textarea
{
    border:none;
    border: 2px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.formcontainer textarea {
    width:100%;
    min-height: 200px;
    max-height: 200px;
}

::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:  #fff;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: #fff;
  }

.formcontainer input[type="submit"]
{
    border: none;
    outline: none;
    height: 43px;
    background: dodgerblue;
    font-size: 18px;
    border-radius: 20px;
    color:#fff;
}

.formcontainer input[type="submit"]:hover
{
    cursor:pointer;
    background: #61b1ff;
    color: #fff;
}

/* Footer Styling */
.footer {
    background: #fff;
    margin-top: 3rem;
}

.mediarow {
   margin: 0 200px 0 300px;
}

.mediarow img {
    position: relative;
    margin:0px 5px 0px 0px;
    padding: 5px 10px 0px 10px;
}

.copy {
    margin-top: 2rem;
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
}

/* Toggle class */
.active {
    border: 2px solid black;
    text-align: center;
    background-color: red;
}

.active h5 {
    font-weight: bold;
}